[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[packages]
googletrans = "*"
gpapi = "*"
django-modeltranslation = "*"
"bs4" = "*"
requests = "*"
selenium = "<=3.11.0"
Django = "<2.0"

