{% extends 'base.html' %}

{% block 'content' %}
  {% if groups %}
    {% for group, permissions in groups.items %}
      <div>
        <h2>
          <img src="{{ group.get_icon_url }}" width="20" height="20" />
          {{ group.translation.name }}
        </h2>
        {% for permission in permissions %}
          <p>
            {{ permission.translation.name }}
            {% if permission.translation.description %}
              <br/>
              {{ permission.translation.description }}
            {% endif %}
          </p>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="show" />
    </form>
  {% endif %}
{% endblock %}
